.main-bg-container {
  min-height: 100vh;
  padding: 40px;
  padding-left: 8%;
  padding-right: 8%;
  font-family: 'Roboto';
}
.user-name-bg-img {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  height: 130px;
  background-size: cover;
  padding: 30px;
  padding-left: 45px;
  border-radius: 14px;
  margin-bottom: 24px;
}
.user-name {
  color: #475569;
  font-size: 28px;
}
.welcome-msg {
  color: #475569;
  font-size: 14px;
}
.welcome-msg-span {
  color: #0b69ff;
  font-weight: 600;
}
.transaction-container {
  border: 1px solid #475569;
  border-radius: 14px;
  padding: 26px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.add-transaction {
  color: #7e858e;
  font-size: 22px;
  margin-bottom: 28px;
}
.input {
  border: 1px solid #7e858e;
  height: 36px;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 24px;
  padding-right: 8px;
  font-size: 12px;
}
.label {
  color: #7e858e;
  font-size: 14px;
  font-weight: 500;
}
.add-transaction-btn {
  background-color: #0b69ff;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  outline: none;
  align-self: flex-start;
}
.history-container {
  border: 1px solid #475569;
  border-radius: 14px;
  padding: 26px;
  width: 55%;
  /* overflow-y: scroll; */
}
.transaction-history-container {
  display: flex;
  justify-content: space-between;
}
.row-heading {
  display: flex;
  justify-content: space-between;
}
.h-line {
  margin-bottom: 0px;
}
.left-line-v {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.right-line-v {
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
  padding: 8px;
}
.h-line-b {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.title {
  color: #7e858e;
  margin-bottom: 0px;
  margin-top: 3px;
  font-size: medium;
}
.amount {
  color: #7e858e;
  margin-bottom: 0px;
  margin-top: 3px;
  font-size: medium;
}
.type {
  color: #7e858e;
  margin-bottom: 0px;
  margin-top: 3px;
  font-size: medium;
}
.history-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  padding-left: 0px;
}
